body {
    background-color: #DFDFDF;
}

#wrapper {
    width: 960px;
    background-color: #FFFFFF;
    margin: auto;
}

#header {
    text-align: center;

}

#header h1 {
    padding: 0px;
    margin: 0px;
}

#header h2 {
    padding: 0px;
    margin: 0px;
}

#content {
    margin: 10px;
}

#sidebar {
    float: right;
    border-left: 2px dotted #DFDFDF;
    border-bottom: 2px dotted #DFDFDF;
    width: 240px;
    padding: 0px 0px 10px 10px;
    margin-left: 10px;
}

#footer {
    margin: 10px;
}

.heart {
    color: red;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: navy;
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: none;
}

.blog-date {
    display: inline;
    font-size: 14px;
}

.blog-entry {
    margin-bottom: 20px;
}

h3 {
    display: inline;
}

ul {
    display: inline;
    list-style-type: none;
}

img {
    border: none;
}