-e svn+http://code.djangoproject.com/svn/django/trunk#egg=Django-1.2_beta_1
Fabric
-e hg+http://bitbucket.org/jmoiron/django-selector#egg=django_selector-tip
-e svn+http://django-tagging.googlecode.com/svn/trunk#egg=django_tagging-trunk
docutils
pycrypto
wsgiref
psycopg2
south
