<DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="DwqvyV4wvAfwVUmzpmcsJ8O3PBBUT8UyWkxMslGCp5A" />
    <title>&lt;3 Software &raquo; {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/style.css" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
	<h1><span class="heart">&lt;3</span> Software</h1>
	<h2>Software with a <span class="heart">Heart</span></h2>
      </div>
      <div id="content">
      {% block content %}{% endblock %}
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-9867191-2");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
