<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <meta name="google-site-verification" content="DwqvyV4wvAfwVUmzpmcsJ8O3PBBUT8UyWkxMslGCp5A" />
    {% block head %}
    <title>&lt;3 Software &raquo; {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/style.css" type="text/css">
    {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header"><a href="{% url blog-index %}">
	<h1><span class="heart">&lt;3</span> Software</h1>
	<h2>Software with a <span class="heart">Heart</span></h2></a>
	<hr>
      </div>
      <div id="content">
	<div id="sidebar">
	  {% block sidebar %}
	  <ul>
	    <li><a href="{% url blog-full-rss %}"><img src="/media/images/feed-icon-16px.png"></a> <a href="{% url blog-index %}">All Posts</a></li>
	    {% for category in category_list %}
	    <li><a href="{% url blog-category-rss category %}"><img src="/media/images/feed-icon-16px.png"></a> <a href="{% url blog-category category %}">{{ category }} Category</a></li>
	    {% endfor %}
	  </ul>
	  {% endblock %}
	</div>
	{% block content %}{% endblock %}
      </div>
      <div id="footer">
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-9867191-2");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
